<body class="page">
  <h1 class="body">Todos</h1>

  <div class="todo">
    <input
      [(ngModel)]="newItem"
      (keyup.enter)="addTodo()"
      autofocus=""
      placeholder="What needs to be done?"
      class="todo ng-valid ng-touched"
    />
  </div>
  <div class="list">
    <div *ngIf="data.length" class="list2">
      <div *ngFor="let item of data" class="forbtn">
        <span>
          <input
            type="checkbox"
            [value]="item._id"
            [checked]="item.completed"
            (change)="onTaskSelect(item)"
          />
          <label [ngClass]="{ strikethrough: item.completed === true }">{{
            item.name
          }}</label>
        </span>
        <span>
          <button class="close-btn" (click)="onCrossSelect(item._id)">
            &times;
          </button>
        </span>
      </div>
      <hr />
    </div>

    <div class="bottom">
      <span>{{taskLeft()}} items left</span>
      <span><button (click)="allTask()">all</button>
      <button (click)="activeTask()">active</button>
      <button (click)="completedTask()">completed</button></span>
      <span></span>
    </div>
  </div>
  <div *ngIf="!data.length">
    <p>No data available</p>
  </div>
</body>
