.body{
    font: 14px Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 0.3em;
    width: 100%;
    font-size: 80px;
    font-weight: 200;
    text-align: center;
    color: crimson;}
    .todo{
        align-items: center;
        justify-content: center;
        display: flex;
        
    }

